@model WebCRUD_PIM_VIII.Models.Pessoa

@{
    ViewData["Title"] = "Deletar";
}

<h1>@ViewData["Title"]</h1>

<h3 style="margin: 25px 0px">Tem certeza que deseja excluir esta pessoa?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </div>
        <div class="form-group">
            <dt>
                @Html.DisplayNameFor(model => model.CPF)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Logradouro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Logradouro)
            </dd>
        </div>
        <div class="form-group">
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Numero)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Numero)
            </dd>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Bairro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Bairro)
            </dd>
        </div>
        <div class="form-group">
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Cep)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Cep)
            </dd>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Cidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Cidade)
            </dd>
        </div>
        <div class="form-group">
            <dt>
                @Html.DisplayNameFor(model => model.Endereco.Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco.Estado)
            </dd>
        </div>
    </div>

    @for (int i = 0; i < Model.Telefones.Length; i++)
    {
    <div class="form-row">
        <div class="form-group col-md-2">
            <dt>
                @Html.DisplayNameFor(model => model.Telefones[i].Numero)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefones[i].Numero)
            </dd>
        </div>
        <div class="form-group col-sm-2">
            <dt>
                @Html.DisplayNameFor(model => model.Telefones[i].DDD)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefones[i].DDD)
            </dd>
        </div>
        <div class="form-group">
            <dt>
                @Html.DisplayNameFor(model => model.Telefones[i].TipoTelefone.Tipo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefones[i].TipoTelefone.Tipo)
            </dd>
        </div>
    </div>
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir pessoa" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar para a lista</a>
    </form>
</div>
