@model IEnumerable<WebCRUD_PIM_VIII.Models.Pessoa>

@{
    ViewData["Title"] = "Index de Pessoas cadastradas";
}

<h1>@ViewData["Title"]</h1>

    <form asp-action="Search">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row" style="margin-top: 25px" >
                <div class="form-group">
                    <p>
                        <a style="margin-left: 8px" class="btn btn-primary" asp-action="Create">Novo Cadastro</a>
                    </p>
                </div>
                    <div class="form-group col-sm-2" style="margin-left: 250px">
                        <input type="long" name="cpf" class="form-control" placeholder="CPF" minlength="11" maxlength="11" required oninvalid="this.setCustomValidity('O CPF precisa ter 11 dígitos.')" 
                            onchange="try{setCustomValidity('')}catch(e){}"/>
                    </div>
                
                
                <div class="form-group col-sm-2" style="margin-left: 15px">
                    <p>
                        <input type="submit" value="Consultar Pessoa" class="btn btn-primary"/>
                    </p>
                </div>
            </div>
    </form>

<table class="table table-striped table-hover col-md-10">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
